.container {
  max-width: 450px;
}

input[type=text],
input[type=text]:focus {
  color: #fff;
  border: none;
  background: rgba(0,0,0,0.2);
  max-width: 450px;
}

.todos-container li {
  background: #484E53;
}

i[data-trash] {
  cursor: pointer;
}

.span-todo {
  word-break: normal;
}

.button-add-todo {
  margin: 10px;
  text-align: center;
  border: none;
  color: white;
  background-color:darkorchid;
}

.hidden {
  display: none;
}